<template>
  <div class="following">
      <div class="followingDiv">
       <img class="image" v-bind:src="this.avatarurl">
       {{this.login}}
      </div>
  </div>
</template>

<script>
export default {
  name: 'following',
  props:{
     avatarurl:String,
     login : String
  }
  
}
</script>


<style scoped>
.following{
  width:25%;
  float:left;
  background-color:grey
}
.image
{
  width:250px;
   height:250px;
   margin: 25px 50px;
}
</style>
