<template>
  <div class="followers">
      <div class="followersDiv">
       <img class="image" v-bind:src="this.avatarurl">
       {{this.login}}
      </div>
  </div>
</template>

<script>
export default {
  name: 'followers',
  props:{
     avatarurl:String,
     login : String
  },
  data : function() {
      return {
      ReposeFollowersList : {
            login : 'Muharrem',
            avatar_url : "https://avatars1.githubusercontent.com/u/70433481?v=4"
       }

    }

  }
}
</script>


<style scoped>
.followers{
  width:25%;
  float:left;
  background-color:grey
}
.image
{
  width:250px;
   height:250px;
   margin: 25px 50px;
}
</style>
