<template>


<div>
 <div class="mainDiv">
     <Search :ResponseUser="ResponseUser"></Search>
     <User   :ResponseUser="ResponseUser"></User>
 </div>
</div>   
    


</template>

<script>
import Search from './Search.vue'
import User from './User.vue'
export default {
  name: 'App',
  components: {
    Search,
    User
  },
  prop : {
      ResponseUser : {
        avatar_url:String,
        login:String,
        followers:Number,
        following:Number,
        public_repos:Number,
        followers_url:String,
        repos_url:String
      }
  },
  data : function()
  {
    return {
      ResponseUser : {
        login : 'Muharrem',
        avatar_url : "https://avatars1.githubusercontent.com/u/70433481?v=4"
      }
    }
  }
  
}
</script>


<style scoped>
.mainDiv
{
 width:80%;
 background-color:red;
 margin:auto;
 margin-top: 1%;
 height: auto;
}
</style>
