<template>
  <div class="Repos">
      <div class="ReposDiv">
       {{this.fullname}}
         {{this.description}}
           {{this.createdat}}
      </div>
  </div>
</template>

<script>
export default {
  name: 'Repos',
  props:{
     description :String,
     fullname  : String,
     createdat :String
  }
  
}
</script>


<style scoped>
.Repos{
  width:25%;
  float:left;
  background-color:grey
}
.image
{
  width:250px;
   height:250px;
   margin: 25px 50px;
}
</style>
