<template>
  <div class="search">
  <input class="searchInput" type="text" v-model="seachText" @keyup="Search" placeholder="Search"/>
  </div>
</template>



<script>



export default {
  name: 'search',
  props:{
     ResponseUser : {
        avatar_url:String,
        login:String,
        followers:Number,
        following:Number,
        public_repos:Number,
        followers_url:String,
        repos_url:String

      }
  },
  data :function() {
      return{
      seachText : "Test"
      }
  },
  methods:{
      Search()
      {
          //https://api.github.com/users/muharremerc12121/followers
          fetch(`https://api.github.com/users/`+this.seachText)
          .then(res=>{
              if(res.status == 200)
               {
                   res.json().then(res => {
                       if(res != undefined)
                       this.pseachText=res;
                       this.ResponseUser.login=res.login;
                       this.ResponseUser.avatar_url=res.avatar_url;
                       this.ResponseUser.followers=res.followers;
                       this.ResponseUser.following=res.following;
                       this.ResponseUser.public_repos=res.public_repos;
                       this.ResponseUser.followers_url=res.followers_url;
                       this.ResponseUser.repos_url=res.repos_url;
                        
                       })
               }
          });

           
          
      }
  }
}
</script>


<style scoped>
.searchInput{
    width: 100%;
}
</style>
