<template>
  <div class="user">
      <div class="profileDiv">
          <div class = "imageDiv">
            <img class="image" v-bind:src="this.ResponseUser.avatar_url">
          </div>    
          <div class = "infoDiv">
          <h1 class="loginInfo">{{this.ResponseUser.login}}</h1>
          <h4 class="userInfo">Followers : {{this.ResponseUser.followers}}</h4>
          <h4 class="userInfo">following : {{this.ResponseUser.following}}</h4>
          <h4 class="userInfo">    Repos : {{this.ResponseUser.public_repos}}</h4>
           <div class="buttonDiv">
           <button class="btn" @click="Followers">
              Followers
           </button>
           <button class="btn" @click="Following">
              Following
           </button>
           <button class="btn" @click="Repos">
              Repos
           </button>
          </div>
          </div>
      </div>
      <div :hidden="followers"> 
          <div v-for="item in this.ReposeFollowersList" :key="item.id">
           <Followers :avatarurl = "item.avatar_url" :login = "item.login"> </Followers>
          </div>
      </div>
      <div :hidden="following"> 
          <div v-for="item in this.ReposeFollowingList" :key="item.id">
           <Following :avatarurl = "item.avatar_url" :login = "item.login"> </Following>
          </div>
      </div>
      <div :hidden="Repos"> 
          <div v-for="item in this.ReposRepoList" :key="item.id">
           <Repos :description = "item.description" :fullname = "item.fullname" :createdat = "item.created_at"> </Repos>
          </div>
      </div>
       
  </div>
 
</template>

<script>
import Followers from './Followers.vue'
import Following from './Following.vue'
import Repos from './Repos.vue'
export default {
  name: 'user',
   components: {
    Followers,
    Following,
    Repos
  },
  props:{
     ResponseUser : {
        avatar_url:String,
        login:String,
        followers:Number,
        following:Number,
        public_repos:Number,
        followers_url:String,
        repos_url:String

      },
      ReposeFollowers:
      {
        login:String,
        avatar_url:String
      },

  },
  data : function() {
      return {
       followers:true,
       repos:true,
       following:true,
      ReposeFollowersList : [],
      ReposeFollowingList : [],
      ReposRepoList : [],
    }

  },
  methods:{
    Followers()
    {
      this.followers=false;
      this.repos=true;
      this.following=true;
          fetch(`https://api.github.com/users/`+this.ResponseUser.login+`/followers`)
          .then(res=>{
              if(res.status == 200)
               {
                   res.json().then(res => {
                       if(res != undefined)
                         this.ReposeFollowersList = res;
                         console.log(this.ReposeFollowersList)
                       })
               }
          });

    },
    Following()
    {
      this.followers=true;
      this.repos=true;
      this.following=false;
      fetch(`https://api.github.com/users/`+this.ResponseUser.login+`/following`)
          .then(res=>{
              if(res.status == 200)
               {
                   res.json().then(res => {
                       if(res != undefined)
                         this.ReposeFollowingList = res;
                         console.log(this.ReposeFollowingList)
                       })
               }
          });
    },
    Repos()
    {
      this.followers=true;
      this.repos=false;
      this.following=true;
      fetch(`https://api.github.com/users/`+this.ResponseUser.login+`/repos`)
          .then(res=>{
              if(res.status == 200)
               {
                   res.json().then(res => {
                       if(res != undefined)
                       this.ReposRepoList = res;
                         console.log(this.ReposRepoList)
                         
                       })
               }
          });
    },
  }
}
</script>


<style scoped>
.profileDiv{
  width:100%;
  background-color:grey
}
.imageDiv{
  width:25%;
  height:300px;
   float:left;
  background-color:yellow;
}
.infoDiv{
  width:75%;
  height:300px;
  float:left;
  background-color:blue;
}
.image
{
  width:250px;
   height:250px;
   margin: 25px 50px;
}
.loginInfo{
  text-align:center;
}
.userInfo{
  margin-left:15px;
}
.buttonDiv
{
  margin-top:5%;
  width:100%;
  background-color:red
}
.btn
{
  width:25%;
  background-color:yellow;
  float:left;
  margin-left:5%;
}
</style>
